#worm {
  width: 100px;
  height: 80px;
  -ms-transform: rotate(-90deg); 
  transform: rotate(0deg);
}

.map {
  width: 600px;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.report {
  font: italic bold 20px/20px Georgia, serif;
  color: rgb(151, 43, 137);
}
.hint {
  font: italic bold 25px/25px Georgia, serif;
  color: rgb(151, 43, 137);
}

table, th, td {
  border: 1px solid rgba(214, 209, 209, 0.493);
  vertical-align: text-bottom;
  text-align: left;
  table-layout: auto;
  
}

canvas {
  background-color:beige;
 
}